<div class="col-md-4">
  <div class="well">
    <label for="artists">Artist</label>
    <select class="form-control" id="artists" ng-options="song.artist for song in songs | filter: albumSelect.artist | unique: 'artist'" ng-model="artistSelect">
      <option>--</option>
    </select>
    <label for="album">Album</label>
    <select class="form-control" id="albums" ng-options="song.album for song in songs | filter: {artist: artistSelect.artist}| unique: 'album'" ng-model="albumSelect">
      <option>--</option>
    </select>
    <br>
    <button class="btn btn-primary btn-block" ng-click="removeFilter()">Remove Filter</button>
  </div>
</div>
<div class="col-md-8">
  <div class="well song-info row" ng-repeat="song in songs | filter: {album: albumSelect.album} | filter: {artist: artistSelect.artist}">
    <x-song-info song="song"></x-song-info>
  </div>
</div>
